.app-card {
  height: auto;
}

ion-button {
  --color: rgb(33, 90, 205);
  --border-color: rgb(33, 90, 205);
}

ion-input {
  margin-right: 8px !important;
}

.container-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 12px
}

hr {
  margin-top: 20px;
}
