<app-card>

  <ion-row class="container-parameters">
    <ion-col size-md="6" size-lg="7">
      <ion-input maxlength="80" fill="outline" labelPlacement="floating" [(ngModel)]="pdfParameter.header.headerTextTitle" label="Título do cabeçalho:" ></ion-input>
    </ion-col>

    <ion-col size-md="6" size-lg="3">
      <ion-item>
        <ion-select fill="outline" labelPlacement="floating" placeholder="Selecione o alinhamento" [(ngModel)]="pdfParameter.header.headerAlignment">
          <ion-select-option value="center">Centralizado</ion-select-option>
          <ion-select-option value="right">Direita</ion-select-option>
          <ion-select-option value="left">Esquerda</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size-md="6" size-lg="2">
      <ion-input  type="number" fill="outline" labelPlacement="floating" [(ngModel)]="pdfParameter.header.headerSize" label="Tamanho:" ></ion-input>
    </ion-col>
  </ion-row>

  <ion-input maxlength="150" fill="outline" labelPlacement="floating" [(ngModel)]="pdfParameter.header.headerText" label="SubTítulo do cabeçalho:" ></ion-input>

  <hr>
  <ion-textarea
    label="Digite seu texto..."
    [(ngModel)]="pdfParameter.text.text"
    rows="20"
  ></ion-textarea>

  <div class="container-button">
    <ion-button routerLink="/home" fill="outline">Voltar</ion-button>
    <ion-button fill="outline" (click)="create()">Gerar PDF</ion-button>
  </div>
</app-card>
